.header {
    padding: 90px 50px 94px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    font-size: 18px;
    font-weight: normal;
}

.header__links-list {
    display: flex;
    gap: 28px;
    list-style: circle;
}

.header__links-list-item {
    text-underline-offset: 4px;
    padding-left: 5px;
}

.header__links-list-item_no-bullit {
    padding-left: 0;
    list-style: none;
    text-decoration: none;
}

.header__link_active {
    text-decoration: none;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.header__address {
    justify-self: end;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: end;
    gap: 1px;
    max-width: 240px;
    text-underline-offset: 4px;
    line-height: 24px;
    font-style: normal;
}

.cover {
    padding: 165px 50px 50px;
    margin-bottom: 180px;
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
    z-index: 0;
    background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
    position: relative;
    z-index: 1;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.15;
    font-weight: bold;
    font-size: 100px;
}

.letter-spacing-extended {
    letter-spacing: 30px;
}

.no-letter-spacing {
    letter-spacing: 0px;
}

.aligned-text {
    display: block;
}

.aligned-text_left {
    text-align: left;
    margin-bottom: 20px;
}

.aligned-text_center {
    text-align: center;
    margin-bottom: 20px;
}

.aligned-text_right {
    text-align: right;
    margin-bottom: 106px;
}

.cover__description {
    display: flex;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 22px;
}

.cover__description-text {
    position: relative;
    z-index: 1;
    padding: 12px 0px 11px;
    margin-right: 107px;
    line-height: 28px;
    word-spacing: 18.4px;
}

.bet-button {
    position: relative;
    z-index: 1;
    padding: 12px 31px;
    color: #fff;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #fff;
}

.bet-button_text {
    text-decoration: none;
}

.lots {
    padding: 0px 24px;
    margin-bottom: 120px;
}

.lots__heading {
    padding-left: 40px;
    margin-bottom: 27px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
}

.lots__card-list {
    margin-bottom: 30px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card-link {
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
    height: 100%;
    background-size: cover;
    background-position: center;
    line-height: 1.2;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    position: relative;
    z-index: 1;
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 3.25px;
    text-decoration-color: #fff;
}

.card__text {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 20px;
}

.lots__look-more-link {
    padding-left: 40px;
    text-underline-offset: 5px;
    font-weight: normal;
    font-size: 20px;
}

.about {
    padding: 35px 24px 0px;
    margin-bottom: 180px;
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 25px;
    align-items: start;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;  
    border-radius: 50%;  
    background: #000;
    margin: 0 auto;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    padding-top: 100px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 100px;    
}

.about__text {
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 20px;
    line-height: 24px;
}

.footer {
    padding: 0px 50px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: flex-start;
    font-size: 18px;
    font-weight: normal;
}

.footer__menu-list {

    list-style: none;
    text-underline-offset: 4px;
    text-align: center;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    list-style: none;
    display: flex;
    gap: 48px;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}